.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    left: 0;
    box-shadow: 0 10px 20px #ffffff80;
    transition: all .4s;
    &.hidden {
        left: -160px;
        box-shadow: 0 10px 20px #00000048;
        &:hover {
            box-shadow: 0 10px 20px #00000080;
            cursor: pointer;
        }
        .mat-toolbar {
            left: -120px;
            span {
                opacity: 0;
            }
        }
    }
    mat-nav-list {
        padding-top: 150px;
    }
}

.mat-drawer-inner-container {
    // display: flex;
}

.sidenav .mat-toolbar {
    transition: all .4s;
    background: inherit;
    position: fixed;
    left: 0;
    span {
        transition: all .2s;
    }
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}