:host {
    // width: 100%;
    // height: 100%;
    // position: relative;
    canvas {
        background: url("/assets/watch.jpg");
        position: absolute;
        border: 2px dashed rgba(0, 0, 0, 0.5);
        background: white;
        // width: 126px;
        // height: 294px;
        left: calc(50% - 126px / 2);
        top: calc(50% - 294px / 2);
        &:hover {
            border-color: red;
        }
    }
    .control-buttons {
        display: flex;
        flex-direction: column;
        opacity: .8;
        position: absolute;
        z-index: 100;
        bottom: 0;
        padding: 10px;
        button {
            background: rgba(128, 128, 128, 0.212);
            width: 60px;
            height: 60px;
            margin: 15px;
            border-radius: 1em;
        }
        .zoom-indicator {
            opacity: .6;
            text-align: center;
            min-height: 50px;
            transition: all .4s;
            &:hover {
                opacity: 1;
            }
        }
    }
}